@inherits LayoutComponentBase


<div class="row">
    <div class="col-md-2">
        <NavMenu/>
    </div>
    <div class="col ">
        <div class=" row mb-4">
            <div class="col position-relative">

            </div>
            @* <div class="card shadow col-md-8">
                <div class="card-body">
                   <h1 class="text-center">Esenta SMS Channel</h1>
                </div>
            </div> *@
        </div>
        <div class="row mx-auto">
            <div col">
                @Body
            </div>
        </div>
    </div>
</div>

@* 
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4 ">
            <div class="row justify-content-center">
                <div col>
                    @Body
                </div>
            </div>
        </article>
    </main>
</div>
 *@
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
