@inject NavigationManager navigationManager
@inject IRecipientGrpService RecipientGrpService

@if (RecipientGrp != null)
{
    <tr class="row">
        <td class="col-lg-8">@RecipientGrp.GroupName</td>
        <td class="col-lg-4 ">
            <div class="row mx-auto">
                <button type="button  " class="col btn btn-primary m-1" @onclick="Edit">Edit</button>
                <button type="button " class="col btn btn-danger m-1" @onclick="(()=>Delete(RecipientGrp.Id))">Delete</button>
            </div>
        </td>
    </tr>

                    
}
@code {

    [Parameter]
    public RecipientGrp? RecipientGrp { get; set; }

    [Parameter]
    public EventCallback<RecipientGrp> OnDelete { get; set; }

    [Parameter]
    public EventCallback<RecipientGrp> OnEdit { get; set; }

    private void Edit()
    {
        OnEdit.InvokeAsync(RecipientGrp);
    }

    private void Delete(int Id)
    {
        //RecipientGrpService.DeleteRecipientGrpAsync(Id);
        OnDelete.InvokeAsync(RecipientGrp);
    }
}
