@page "/addOrganisation"
@inject NavigationManager navigationManager
@inject IOrganisationService OrganisationService
<div class="card shadow border-0 align-items-center">
    <div class=" card-header">
        <div class="row">
            <div class="col">Add Organisation Details </div>
            <div class="col-2"><button type="button" class=" btn btn-outline-danger" @onclick="OnClose">X</button></div>          
        </div>
        
    </div>

    <div class="card-body">
        @if (organisation != null)
        {
            <EditForm Model="organisation" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <ValidationSummary></ValidationSummary>
                <div class="form-group">
                    <label for="orgname">Org. Name</label>
                    <InputText id="orgname" placeholder="Name" class="form-control" @bind-Value="organisation.Name"></InputText>
                </div>

                <div class="form-floating shadow">
                    <InputText id="orgname" placeholder="Name" class="form-control" @bind-Value="organisation.Name"></InputText>
                    <label for="orgname" placeholder="Name">Name</label>

                </div>

                <div class="form-group">
                    <label for="address">Address</label>
                    <InputText id="address" placeholder="Address" class="form-control" @bind-Value="organisation.Address"></InputText>
                </div>

                <div class="form-group">
                    <label for="telephone">Telephone</label>
                    <InputText id="telephone" placeholder="Phone" class=" form-control" @bind-Value="organisation.Phone"></InputText>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <InputText id="email" placeholder="myemail@example.com" class="form-control" @bind-Value="organisation.Email"></InputText>
                </div>

                <div class="form-floating shadow">
                    <InputText id="City" placeholder="City" class="form-control" @bind-Value="organisation.City"></InputText>
                    <label for="City" placeholder="City">City</label>

                </div>
                <div class="form-floating shadow">
                    <InputText id="Logo" placeholder="Logo" class="form-control" @bind-Value="organisation.Logo"></InputText>
                    <label for="Logo" placeholder="Logo">Logo</label>

                </div>
                
                <br/>
                <button type="submit" class="btn btn-primary ">Save</button>
            </EditForm>
        }

    </div>
</div>


<br />


@code {
    private Organisation? organisation = new();

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();

    }
    private async void OnValidSubmit()
    {
        if (this.organisation!=null)
        {
            await OrganisationService.AddOrganisationAsync(this.organisation);
            OnClose();
        }

    }
    private void OnClose()
    {
        navigationManager.NavigateTo("/Organisation");
    }
}
