@page "/"

<PageTitle>Home</PageTitle>

<div class="card" style="height:100vh">
    <div class="card-body ">
        <div class="row justify-content-center">
            <MetricsComponent></MetricsComponent>

            <MetricsComponent></MetricsComponent>
            
            <MetricsComponent></MetricsComponent>

            <MetricsComponent></MetricsComponent>

            <MetricsComponent></MetricsComponent>

            <MetricsComponent></MetricsComponent>
        </div>
    </div>
</div>

@code{

}