<div class="card shadow col-lg-3 m-4 " style="background-color:darkslateblue">
    <div class="card-header">
        <h2 class="text-center" style="color:lightblue">Draft Sms</h2>
    </div>
    <div class="card-body">
        <h1 class ="text-center text-warning">378</h1>
        <h3 class="text-center text-warning">Sms in</h3>
        <h3 class="text-center text-warning">Draft</h3>
    </div>
</div>
@code {

}
